<div class="title"><h1>Что полезного почитать</h1></div>
<div class="columns-holder">



  <div class="column">
    <h2>Обучающие курсы</h2>
    <ul>

      <li><a href="https://ru.coursera.org/learn/mathematics-and-python/">Математика и Python для анализа данных</a></li>

      <li><a href="https://ru.coursera.org/specializations/python">Learn to Program and Analyze Data with Python</a></li>

      <li><a href="https://learn.python.ru/">Learn Python</a></li>

    </ul>
  </div>

  <div class="column">
    <h2>Документация</h2>
    <ul>

      <li><a href="https://docs.python.org/">Официальная документация</a></li>

      <li><a href="http://docs.python-guide.org/en/latest/">The Hitchhiker’s Guide to Python</a></li>

      <li><a href="https://learnpythonthehardway.org/book/">Learn Python The Hard Way</a></li>

    </ul>
  </div>

  <div class="column">
    <h2>Сообщество</h2>
    <ul>

      <li><a href="http://slack.python.ru/">Slack-канал python.ru</a></li>

      <li><a href="https://pythondigest.ru/">Python дайджест</a></li>

      <li><a href="http://python.su/forum/">Форум python.su</a></li>

      <li><a href="http://pyvideo.ru/">Видео о python на русском</a></li>

    </ul>
  </div>

</div>